/*共通*/
html {
    margin: 0;
}

body{
    width: 100%;
    margin: 0;
    background-image: url(glid.jpg);
    padding-bottom: 100px;

}

footer {
    width: 100%;
    text-align: center; 

    /*表示位置*/
    bottom: 0;
    position: fixed;
    /*93%はbodyで指定した14pxの93%ってこと*/
    font-size: 80%;
    background-color: #ccc;
    color: #666;  
}

.row{
    margin: 0;
}

div .container{
    padding: 0;
}


/*インデックス*/
#index header{
    background-color: #666;
    height: 2em;
    margin-bottom: 200px;
}

#index body {
    /*フォントを選択*/
    font-family: YuGothic, "游ゴシック", "メイリオ",  Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
    /*フォントサイズ*/
    font-size: 24px;

    /*body内を縦横中央揃えに*/
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	
}


#index nav {
    /*メニューの余白の設定*/
    margin: 0 0 30px 0;
    /*メニューを中央揃えに*/
    text-align: center;
    background: RGBA(255,255,255,0);
}

#index nav ul{
    margin: 0;
    padding: 0;
}

#index nav ul li {
    /*余白　上下右0 左20*/
    margin: 0 0 0 20px;
    /*inline-blockを仕様するとブロック要素もインラインの様に表示できる*/
    display: inline-block;
}

#index nav ul li a {
    /*余白*/
    padding: 15px 10px;
     /*リンクの下線を消す*/
    text-decoration: none;
    /*カラーをグレーにしてboldは太文字に*/
    color: #999;
    font-weight: bold;
}

#index nav ul li a.selected{
    color: #000;
}

#index .container {
    /*marginは3つなら、上、左右、下になる。autoは中央揃え*/
    margin: 0 auto 0;
    background-color: RGBA(255,255,255,0.9);
    text-align: center;
}

#index section img{
    padding-bottom:20px; 
}


/*Home以外共通*/

.main header{
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    background-color: #fff;
}

.main #logo{
    float: left;
    padding: 0;
}

.main body {
/*    フォントを選択*/
    font-family: YuGothic, "游ゴシック", "メイリオ",  Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
/*    フォントサイズ*/
    font-size: 24px;

/*    body内を縦横中央揃えに*/
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;

}

.main .container {
    padding: 0 0 0 20;
/*    marginは3つなら、上、左右、下になる。autoは中央揃え*/
    margin: 0 auto 0;
    background-color: RGBA(255,255,255,0.9);
}

.main .container div ul li{
    list-style-type:none;
}

#icon img{
    margin-left: auto;
    margin-right: auto;
/*    画像の最大幅*/
    max-width: 150px;
/*    ボーダーラインの幅、本数、色*/
    border: 5px solid #666;
/*    角をスムーズする。100%だから丸になる*/
    border-radius: 150%
}

#icon{
    text-align: center;
}

#icon > ul{
    padding: 0;
    display:inline-block;
    vertical-align:middle;
}

#profile > ul{
    padding: 0;
}

.col-sm-4{
    text-align: center;
}